.container {
  align-items: center;
  display: flex;
  width: 96vw;
}

.fretboard {
  background: saddlebrown;
  display: grid;
  flex: 1;

  /* https://www.stewmac.com/FretCalculator.html */
  grid-template-columns: 0.1fr 1.4fr 2px 1.32fr 2px 1.25fr 2px 1.18fr 2px 1.11fr 2px 1.05fr 2px 0.99fr 2px 0.93fr 2px 0.88fr 2px 0.83fr 2px 0.78fr 2px 0.74fr;
  grid-template-rows: 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px;
  height: fit-content;
}

.nut {
  background: black;
}

.wood {
  align-items: center;
  display: flex;
  height: 2vw;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.fret {
  background: darkgoldenrod;
}

.string {
  background: darkgray;
  position: relative;
  z-index: 2;
}

.inlay {
  background: linear-gradient(90deg, rgba(251, 251, 251, 1) 0%, rgba(209, 209, 208, 1) 100%);
  border-radius: 50%;
  height: 1.75vw;
  width: 1.75vw;
}

.inlay-offset {
  position: relative;
  top: -1vw;
}

.note {
  background: red;
  border-radius: 50%;
  height: 1.5vw;
  margin: 0 auto;
  position: relative;
  top: -0.5vw;
  width: 1.5vw;
}

.sixth-string-note {
  top: 50%;
}

.octave-note {
  background: blue;
}

.scale-note {
  background: black;
}

.info {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  font-size: 1.5vw;
  justify-content: space-between;
  line-height: 145%;
  margin-right: 1vw;
}

.info-note {
  font-weight: bold;
}
