.container {
  align-items: center;
  display: flex;
  margin-bottom: 1vw;
  width: 96vw;
}

.fretboard {
  display: grid;
  flex: 1;

  /* https://www.stewmac.com/FretCalculator.html */
  grid-template-columns: 0.1fr 1.4fr 1.32fr 1.25fr 1.18fr 1.11fr 1.05fr 0.99fr 0.93fr 0.88fr 0.83fr 0.78fr 0.74fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: fit-content;
}

.nut {
  background: black;
}

.fret {
  align-items: center;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 1px solid black;
  display: flex;
  height: 2vw;
  justify-content: center;
}

.fret:nth-of-type(13n) {
  border-right: none;
}

.fret:nth-of-type(n+53) {
  border-bottom: 1px solid black;
}

.inlay {
  background: black;
  border-radius: 50%;
  height: 1.75vw;
  width: 1.75vw;
}

.inlay-top {
  position: relative;
  top: -50%;
}

.inlay-bottom {
  bottom: -50%;
  position: relative;
}

.note {
  background: red;
  border-radius: 50%;
  height: 2vw;
  position: relative;
  top: -50%;
  width: 2vw;
}

.info {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  font-size: 1.5vw;
  justify-content: space-between;
  line-height: 140%;
  margin-right: 1vw;
}

.info-note {
  font-weight: bold;
}
