.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: monospace;
  justify-content: center;
}

.container label {
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

.container label input {
  margin-right: 0.5rem;
}
