.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: monospace;
  justify-content: center;
}

.container label {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.5vw;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
  margin-right: 3vw;
}

.container label input {
  margin-bottom: 0.25vw;
}
